body {
    background-color: black;
    font-family: Verdana;
    
}
h1 {
    font-size: 50px;
    font-weight: normal;
    color: white;
    text-align: center;
    }
h2 {
    font-size: 42px;
    font-weight: 300;
}
p{
    font-size: 21px;
    color: gray;
}
.center {
    margin:auto;
    text-align: center;
}
a {
    color:aquamarine;
    font-size: 16px;
}
#footer {
    text-align: right;
}